body{
	background: #02010a;
	font-family: Dancing Script;
	color: white;
}

header
{
	background-color: #5b7989;
	overflow: hidden;
	border-radius: 10px 10px 0px 0px;
	animation-name: header-animacion;
	animation-duration: 2s;
}

@keyframes header-animacion {
0% {margin-top: 150%;
}
60% {margin-top: -5%;
}
100% {margin-top: 0%;
}
}
img{
	-webkit-box-shadow:0 1px 2px #02010a;
	-moz-box-shadow:0 1px 2px #02010a;
	box-shadow:0 1px 2px #02010a;
	max-width: 100%;

}

#cabecera{
	color:black;
}

#titulo {
	color:#f2f2f2;
	line-height:30px;
	text-shadow: 2px 2px #02010a;
	font-size: 30px;
	float:left;
	background-color: #5b7989;
	width: 50%;
	text-align: center;
}

#menu{
	float:right;
	line-height:90px;
	background-color: #5b7989;
	width: 50%;
	text-align: right;
}

#menu nav a {
	color:#fff;
	/*text-decoration:none;*/
	font-size:20px;
	padding: 10px 20px;
}
article
{
	box-sizing: border-box;
	background-color: #C6d5c5;
	padding: 2%;
}

footer{
	clear: both;
	border-radius: 0px 0px 10px 10px;
	background-color: #C6d5c5;
	height: 10%;
}

#pie{
	width:95%; /* Establecemos que el ancho sera del 90% */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
	color:black;
}

#contacto{
	width: 25%;
	float: left;
	font-size: 30px;
}
#contacto p{
	font-size: 15px;
}
#terminos{
	width: 25%;
	float: left;
	font-size: 30px;
}
#terminos p{
	font-size: 15px;
}
#derechos{
	width: 25%;
	float: left;
	font-size: 30px;
}
#derechos p{
	font-size: 15px;
}
#redes{
	width: 25%;
	float: left;
	font-size: 30px;
}
#redes table{
	font-size: 15px;
	border-collapse:collapse;
	border: none;
	text-align: left;
}
#redes img{
	width:20%;
}

	#columna1
	{
	background-color: #d4c75f;
	width: 33.3%;
	float: left;
  }
	.imagen1{
		width: 100%;
		-webkit-filter:blur(10px);
	}
	.imagen2, .imagen4, .imagen6{
		width: 100%;
		-webkit-filter:grayscale(100%);
		filter:grayscale(100%);
	}
	.imagen3{
		width: 100%;
		-webkit-filter:sepia(90%);
		filter: sepia(90%);
	}
  .imagen5{
    width: 100%;
  }
	#columna2
	{
	background-color: #d5c75f;
	border: 1px;
	width: 33.3%;
	float: left;
	}

	#columna3
	{
	background-color: #d5c75f;
	border: 1px;
	width: 33.3%;
	float: left;
	}

/*Para versión Desktop*/
@media (min-width: 900px){
	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
}
/*Para versión Móvil*/
@media (max-width: 900px){
	#columna1
	{
	width: 100%;
	}
	#columna2
	{
	width: 100%;
	}
	#columna3
	{
	width: 100%;
	}
	#contacto{width: 100%;}
	#terminos{width: 100%;}
	#redes{width: 100%;}
	#derechos{width: 100%;}
	#titulo{width: 100%; font-size: 20px;}
	#menu{width: 100%;text-align: center;}
	#menu nav a{font-size: 10px;}
	header
	{
	width:100%;
	}

	footer{
		width: 100%;
	}
}
